<form action="UserDrive" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" required>
    </div>
    <div class="form-group">
        <label for="Date">Data</label>
        <input type="date" class="form-control" name="Date" required>
    </div>
    <div class="form-group">
        <label for="Course"></label>
        <select for="Course" class="form-control">
            <option value="1">25 лв</option>
            <option value="2">35 лв</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>