@{
    ViewData["Title"] = "UserDrive";
}
<form action="UserDrive" method="post">
    <div class="form-group">
        <label for="Phone">Phone</label>
        <input class="form-control" name="phone" required>
    </div>
    <div class="form-group">
        <label for="Date">Data</label>
        <input type="date" class="form-control" name="Date" required>
    </div>
    <div class="form-group">
        <label for="Course"></label>
        <select for="Course" class="form-control" id="Course" name="Course">
            <option value="1">25 лв</option>
            <option value="2">35 лв</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>