@{
    ViewData["Title"] = "BirthDay";
}
<img src="~/Images/RojedenDen.png" class="img-fluid img-home" alt="Your Image">
<div class="card text-center" style="background-color:rgba(0, 0, 0, 0.4)">
    <div class="card-header">
        <h4 style="color:whitesmoke">
            Подарете на вашето Дете един специален момент по случай рожденния му ден, който ще се превърне в незабравим спомен. Възползвайте се от нашите специални предложения:
        </h4>
        <div class="card-body">
            <ul class="customUl" style="color:whitesmoke">
                <li>Цена — 200 лв за 1 час</li>
                <li> Детско Меню по избор ( пилешки бургер, клуб сандвич или пица) </li>
                <li> Сокче или безалкохолна напитка </li>
                <li> За деца до 16 години </li>
            </ul>
        </div>
    </div>
</div>
