html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../Images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    font-family: Arial, sans-serif;
}

.headerBackground {
    background-image: url('../Images/headerBackground.jpg');
    padding: 10px;
    margin: 0px;
}
.container {
    position: relative;
    background-color: transparent;
    border: none;
}
.content {
    position: relative;
    z-index: 0; 
    padding: 20px;
}
.navbar-nav {
    padding: 10px;
    background-color: transparent;
    border: none;
}


.img-home {
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

/*.btn-red {
    background-color: #990000;
    border-color: #990000;
    color: #fff;
}*/
.img-custom-size {
    width: 400px;
    height: auto;
}
.opClass {
    opacity: 0.4;
}
.opClass1 {
    opacity: 1;
}
.customUl {
    list-style: none;
}

.customUl li::before {
    content: "\2022";
    color: #990000;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.btn-custom {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn-custom {
        transition: none;
    }
}
.btn-menu {
    color: #fff;
    background-color: #990000;
    border-color: #990000;
    padding: 20px 100px;
}
    .btn-menu:hover {
        color: #fff;
        background-color: #bb2d3b;
        border-color: #b02a37;
    }