@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<img src="~/Images/ceni.png" class="img-custom-size" />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br />
            <br />
            <h1 style="color:#8B0000">Каране на UTV с инструктор</h1>           
        </div>
        <div class="col-md-4">
            <img src="~/Images/33.jpg" class="img-custom-size" />
        </div>
    </div>
</div>
<table class="table table-striped table-dark">
    <tbody style="height:200%">
        <tr>
            <th class="font-weight-bold text-danger" scope="col">Пакет</th>
            <th class="font-weight-bold text-danger" scope="col">Цена</th>
        </tr>
        <tr>
            <th class="font-weight-bold text-danger" scope="row">10 мин</th>
            <td class="font-weight-bold text-danger">25 лв</td>
        </tr>
        <tr>
            <th  class="font-weight-bold text-danger" scope="row">15 мин</th>
            <td  class="font-weight-bold text-danger">30 лв</td>
        </tr>
    </tbody>
</table>


