@{
    ViewData["Title"] = "Home Page";
    
}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:transparent !important;">
    <div class="container" style="background-color:transparent !important;">
        <div class="row" style="background-color:transparent !important;">
            <div class="col-md-6" style="background-color:transparent !important;">
                <div class="navbar-collapse" id="navbarNav" style="background-color:transparent;">
                    <ul class="navbar-nav ml-auto" style="background-color:transparent;">
                        <li class="nav-item"><a class="btn btn-danger btn-lg btn-block" style="padding: 20px 120px;" asp-area="" asp-controller="Price" asp-action="Index">Цени</a></li>
                        <li class="nav-item"><a class="btn btn-danger btn-lg btn-block" style="padding: 20px 120px;" asp-area="" asp-controller="Image" asp-action="Index">Галерия</a></li>
                        <li class="nav-item"><a class="btn btn-danger btn-lg btn-block" style="padding: 20px 120px;" asp-area="" asp-controller="Home" asp-action="Ranking">Рожденни&nbsp;дни</a></li>
                        <li class="nav-item"><a class="btn btn-danger btn-lg btn-block" style="padding: 20px 120px;" asp-area="" asp-controller="Home" asp-action="Ranking">За&nbsp;нас</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div>
    <img src="~/Images/FunParkPlovdiv.png" class="img-fluid img-home" alt="Your Image">
</div>




